{% from "partials/icon.njk" import icon %}


<header class="site-head">
    <div class="container">
        <div class="site-mast">
            <div class="mast-logo">
                <a {% if page.url == "/" %}aria-current="page"{% endif %} href="/">
                    <img class="site-logo" src="/svg/logo-white.svg" width="2460px" height="1853px" rel="shortcut icon preload" alt="{{ site.title }}">
                </a>
            </div>
            <div class="site-mast-right">
                <nav class="site-nav">
                    {% for item in site.navigation %}
                        <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url }}">
                            {{ item.label }}
                        </a>
                    {% endfor %}
                </nav>
                <div class="site-mast-social-right">
                    <a href="https://twitter.com/{{ site.twitter | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
                        {{ icon({ id: 'twitter' }) }}
                    </a>
                    <a href="https://www.facebook.com/{{ site.facebook }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
                        {{ icon({ id: 'facebook' }) }}
                    </a>
                    <a class="site-nav-item" href="https://feedly.com/i/subscription/feed///feed.xml" target="_blank" rel="noopener noreferrer">
                        {{ icon({ id: 'rss' }) }}
                    </a>
                </div>
                {% if collections.tags %}
                    <div class="site-nav-right">
                        {% for tag in collections.tags %}
                            <a {% if page.url == tag.url %}aria-current="page"{% endif %} class="site-nav-button{% if tag.featured %}  site-nav-button-featured{% endif %}" href="{{ tag.url }}">
                                {{ tag.thumbnail if tag.thumbnail else tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="nav-teas">
                    <div class="nav-green"><img  width="720px" height="723px" src="/svg/green-tea.svg" alt="Green Tea" /></div>
                    <div class="nav-white"><img width="720px" height="723px" src="/svg/white-tea.svg" alt="White Tea" /></div>
                    <div class="nav-light-wulong"><img width="720px" height="723px" src="/svg/light-wulong.svg" alt="Light Wulong" /></div>
                    <div class="nav-dark-wulong"><img width="720px" height="723px" src="/svg/dark-wulong.svg" alt="Dark Wulong" /></div>
                    <div class="nav-red"><img width="720px" height="723px" src="/svg/red-tea.svg" alt="Red Tea" /></div>
                    <div class="nav-dark"><img width="720px" height="723px" src="/svg/dark-tea.svg" alt="Dark Tea" /></div>
                </div>
            </div>
        </div>
        {% if page.url == '/' %}
            <div class="site-banner">
                <div class="about-tea-wrapper">
                    <a href="https://immodestea.com/tea-of-the-month-club">
                        <div class="about-tea">
                            <h1>Tea Of The Month Club</h1>
                            <ul>
                                <li>$35 Monthly</li>
                                <li>$365 Yearly</li>
                            </ul>    
                            <p style="border: 3px rebeccapurple solid; width: 100%; margin: 0 auto;"> More Details </p>
                        </div>
                    </a>
                </div>
                <div class="drinking-tea">
                    <a href="/tag/events">
                        <img width="1500px" height="1000px"  src="/images/300/lovestea_300.jpg" srcset="images/300/lovestea_300.jpg 300w, images/500/lovestea_500.jpg 500w, images/700/lovestea_700.jpg 700w, images/1200/lovestea_1200.jpg 1200w" alt="Picture of two people enjoying tea." />
                        <p class="site-banner-desc">{{ site.description }}</p>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</header>
